/* ?Raleway 700, Roboto 400 500 700 900 */

$color-base: #ffffff;
$color-secondary: #f5f4fa;
$color-accent: #2196f3;
$color-icon: #afb1b8;
$color-button-hover: #188ce8;
$color-title: #212121;
$color-text-main: #757575;
$color-line: #ececec;
$color-futer: #2f303a;
$color-overlay-works: rgba(33, 150, 243, 0.9);
$color-progekt-border: #eeeeee;
